<main class="main">
    <form action="/room" method="GET">
        <div class="form-control">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Please enter username">
            <label for="room">Room</label>
            <select name="room" id="room">
            <option value="Node JS">Node JS</option>
            <option value="Nest JS">Nest JS</option>
            <option value="React JS">React JS</option>
            <option value="Vue JS">Vue JS</option>
            <option value="Angular JS">Angular JS</option>
            </select> 
        </div>
        <button type="submit" class="btn">Join Chat</button>
    </form>
</main>
